{% extends 'base.html' %}

{# 页面标题 #}
{% block title %}{{ require.title }}{% endblock %}
{% block nav_require_active %}active{% endblock %}

{% load static %}
{% block header_exends %}
    <link rel="stylesheet" href="{% static 'require/require.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h3>{{ require.title }}</h3>
            <ul class="require-info-description">
                <li>author:     {{ require.author }}</li>
                <li>Type:   <a href="{% url 'requires_with_type' require.require_type.pk %}">
                    {{ require.require_type }}</a></li>
                <li>post time:     {{ require.created_time | date:"Y-m-d H:i:s"}}</li>
                <li>Jira ID: {{ require.JIRA_Testcase_ID }}</li>
                <li>Reading({{ require.get_read_num }})</li>
            </ul>
            <div class="require-content">Description: {{ require.content |safe }}</div>
            <div class="require-more">
                <p>last one:
                    {% if previous_require %}
                        <a href="{% url 'require_detail' previous_require.pk%}">{{ previous_require }}</a>
                    {% else %}
                        no require
                    {% endif %}
                    </p>
                <p>next one:
                    {% if next_require %}
                        <a href="{% url 'require_detail' next_require.pk %}">{{ next_require }}</a>
                    {% else %}
                        no require
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="comment-area">
                <h3 class="comment-area-title">comment</h3>
                {% if user.is_authenticated%}
                    <form id="comment_form" action="{% url 'update_comment' %}" method="POST" style="overflow: hidden">
                        <label for="comment_text">{{ user.username }},welcome</label>
                        <div id="reply_content_container" style="display:none;">
                            <p>Reply:</p>
                            <div id="reply_content">

                            </div>
                        </div>
                        {% csrf_token %}
                        {% for field in comment_form %}
                            {{ field }}
                        {% endfor %}
                        <span id="comment_error" class="text-danger pull-left"></span>
                        <input type="submit" value="comment" class="btn btn-primary pull-right">
                    </form>
                {% else %}
                    Sign in to comment:
                    <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">Login</a>
                    <span>or</span>
                    <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">Register</a>
                {% endif %}
            </div>
            <div class="commnet-area">
                <h3 class="comment-area-title">comment list</h3>
                <div id="comment_list" >
                    {% for comment in comments %}
                        <div id="root_{{ comment.pk }}" class="comment">
                            <span>{{ comment.user.username }}</span>
                            <span>({{ comment.comment_time|date:"Y-m-d H:i:s" }})：</span>
                            <div id="comment_{{ comment.pk }}">{{ comment.text|safe }}</div>
                            <a href="javascript:reply({{ comment.pk }})">Reply</a>

                            {% for reply in comment.root_comment.all %}
                                <div class="reply">
                                <span>{{ reply.user.username }}</span>
                                <span>({{ reply.comment_time|date:"Y-m-d H:i:s" }})</span>
                                <span>reply to</span>
                                {{ reply.reply_to.username }}:
                                <div id="comment_{{ reply.pk }}">{{ reply.text|safe }}</div>
                                <a href="javascript:reply({{ comment.pk }})">Reply</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% empty %}
                        <span id="no_comment">no comment</span>
                    {% endfor %}
                </div>
            </div>
         </div>
    </div>
    </div>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        $("#comment_form").submit(function(){
            $("#comment_error").text('');
            if(CKEDITOR.instances["id_text"].document.getBody().getText().trim()==""){
                $("#comment_error").text('comment cannot be none');
                return false;
            }

            CKEDITOR.instances["id_text"].updateElement()
            //异步提交
            $.ajax({
                url:"{% url 'update_comment' %}",
                type:'POST',
                data:$(this).serialize(),
                cache:false,
                success:function(data){
                    console.log(data);
                    if(data['status']=="SUCCESS"){
                        if($('#reply_comment_id').val()=='0'){
                            var comment_html = '<div id="root_' + data['pk'] + '" class="comment"><span>' + data['username'] + '</span><span> (' + data['comment_time'] + ')：</span><div id="comment_' + data['pk'] + '">' + data['text'] + '</div><a href="javascript:reply(' + data['pk'] + ');">回复</a></div>';
                            $("#comment_list").prepend(comment_html);
                        }else{
                            var reply_html ='<div class="reply"><span>' + data['username'] + '</span><span> (' + data['comment_time'] + ')</span><span> 回复 </span><span>' + data['reply_to'] + '：</span><div id="comment_' + data['pk'] + '">' + data['text'] + '</div><a href="javascript:reply(' + data['pk'] + ');">回复</a></div>';
                            $("#root_" + data['root_pk']).append(reply_html);
                        }
                        CKEDITOR.instances["id_text"].setData('');
                        $('#reply_content_container').hide();
                        $('#reply_comment_id').val('0');
                        $('#no_comment').remove
                    }else{
                        $("#comment_error").text(data['message']);
                    }
                },
                error:function(xhr){
                    console.log(xhr);
                }
            })
            return false;
        });
        function reply(reply_comment_id){
            $('#reply_comment_id').val(reply_comment_id);
            var html=$("#comment_"+reply_comment_id).html();
            $('#reply_content').html(html);
            $('#reply_content_container').show();
            $('html').animate({scrollTop:$('#comment_form').offset().top-60},300,function(){
                 CKEDITOR.instances["id_text"].focus();
            })
        }
    </script>
{% endblock %}




